@font-face {
    font-family: PatrickHand;
    src: url(fonts/PatrickHand-Regular.ttf);
}

body{
    overflow-x: hidden;
}
  
h1, h2, h3{
    color: #00acff;
    font-family:PatrickHand;
}

nav > ul{
    display:block;
    padding:0px 20px;
    height:100%;
    margin:auto;
}

.menu > li{
    font-size:30px;
    text-align:center;
    color:white;
    display:block;
    padding:25% 0px;
    font-family:PatrickHand;
    cursor: pointer;
}

li > a{
    display:block;
    text-decoration:none;
    color:white;
    transition: transform 1s;
}

.content{
    height:100vh;
}

.main-menu{
    position:fixed;
    height: 100vh;
    background-color:#00acff;
}

.content-container{
   margin-left:16.66%;
}

.row{
    max-width:100vw !important;   
}

.title-section{
    padding:5em;
}
.mobile_menu_btn{
    display: none;
    width: 36px;
    float: right;
    margin:40px 25px;
}

#skill-pannel{
    height: 550px;
}

.skill{
    color:white;
    width: calc( 33.33% - 20px);
    margin: 0px 10px 15px 10px;
    color:black;
    text-align: center;
    cursor: pointer;
}

.skill-image{
    -webkit-transition: all 0.4s 0s ease-in-out;
    -moz-transition: all 0.4s 0s ease-in-out;
    -o-transition: all 0.4s 0s ease-in-out;
    transition: all 0.4s 0s ease-in-out;
    padding: 20px;
}

.skill-image:hover{
    padding: 0;
}

.skill-title{
    font-size: 2rem ;
}

#mobile_btn_skill_close{
    margin: 20px 10px;
}

#skill_number{
    text-align: center;
    margin: auto;
}

.skill-navbar-mobile{
    display: none;
}

.projects_container{
    width: 100%;
    margin: 0 auto;
    float: left;
    overflow-x: scroll;
    padding-bottom: 35px;
}

.wrapper{
    overflow: hidden;
    width: 3600px;
}

.project{
    width: 720px;
    float: left;
}

/*Custom Responsive Edits*/

@media only screen and (max-width: 992px) {
    .main-menu {
        height: 125px !important;
    }
    .content-container{
        margin-left:0px;
    }
    .title-section{
        padding:1em;
    }

    .main-menu{
        padding: 0px;
    }

    .menu{
        display: none;
        top:125px;
        position:fixed;
        width: 100vw;
        z-index: 999;
        padding: 3px 0px;
        background-color: white;
    }

    li > a{
        color: #00acff;
    }

    .menu > li{
        padding: 12px 0px;
    }

    .mobile_menu_btn{
        display: block;
    }
    .main-menu{
        margin: auto;
    }
    section{
        padding-top: 150px !important;
    }

    #skill-pannel{
        padding: 0px;
        height: auto;
    }
    #skill-desc{
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        margin: 40px 20px;
        width: calc(100vw - 40px);
        height: calc(100vh - 80px);
        background-color: white;
    }
    .skill-title{
        font-size: 1rem ;
    }

    .top-skill-mobile{
        height: 10%;
        background-color: white;
        padding: 10px;
    }
    #skill-desc{
        padding: 0px;
    }

    .skill-image{
        padding: 0px;
    }

    .skill-text-container{
        height: 75%;
        background-color: white;
        padding: 10px;
    }

    .skill-navbar-mobile{
        display: flex;
        justify-content: center;
        background-color: white;
    }

    .bullet{
        width: 10px;
        height: 10px;
        margin: 0px 5px;
        background-color: black;
    }
    .arrows{
        width: 35px;
        height: 35px;
        margin: 0px 20px;
    }
    #left_arrow{
        float: right;
    }
    #skill_number{
        font-size: 22px;
    }
  }



  /* Animations */